@import 'tailwindcss';

:root {
  --background: #fcfcfa;
  --foreground: #171717;
  --primary: #0e462c;
  --outline: #e5e4e1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-pretendard);
  --default-font-family: var(--font-pretendard);

  --color-primary: var(--primary);
  --color-outline: var(--outline);
}

body {
  background: var(--background);
  color: var(--foreground);
}
